body {
    /* background-color:rgb(0, 0, 0); */
    background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url('damask2.2.jpg');
    /* background-image: url("damask2.2.jpg"); */
    background-attachment: fixed;
    background-repeat: repeat;
    color:rgb(180, 153, 102);
    text-align: center;
    font-size: 20px;
    font-family: Cambria;
}
table {
    width: 85%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    table-layout: fixed;
}

th {
    text-align: center;
    padding: 6px;
    border-top: 1px solid;
}

th:first-child {
    width: 1200px;
}

td {
    padding: 2px;
}

td:nth-child(even) {
    text-align: center;
}

tr:last-child {
    border-bottom: 1px solid;
}

ul, ol {
    margin: 0;
    padding-left: 0; 
}

a {
  text-decoration: none;
}

img {
  position: relative;
  top: +7px;
  text-align: center;
}

.main-navigation {
    float: center; }
    .main-navigation .menu-toggle, .main-navigation .menu {
      vertical-align: middle; }
    .main-navigation .menu-toggle {
      background: none;
      border: 2px solid transparen;
      color: white;
      padding: 20px;
      border-radius: 40px;
      -webkit-transition: .3s ease;
              transition: .3s ease;
      display: none;
      outline: none; }
      @media screen and (max-width: 990px) {
        .main-navigation .menu-toggle {
          display: none; } }
      .main-navigation .menu-toggle:hover, .main-navigation .menu-toggle:active {
        border-color: #009ad8;
        color: #d80e00; }
    .main-navigation .menu {
      list-style: none;
      display: inline-block;
      *zoom: 1; }
      .main-navigation .menu:after {
        content: " ";
        clear: both;
        display: block;
        overflow: hidden;
        height: 0; }
      @media screen and (max-width: 990px) {
        .main-navigation .menu {
          display: none; } }
      .main-navigation .menu .menu-item {
        position: relative;
        z-index: 99;
        float: inline-start;
        margin-left: 25px;
        margin-right: 25px; }
        .main-navigation .menu .menu-item a {
          position: relative;
          z-index: 99;
          padding: 5px 25px;
          border: 2px solid;
          border-radius: 30px;
          color: rgb(180, 153, 102);
          -webkit-transition: .3s ease;
                  transition: .3s ease;
          font-weight: 400; }
        .main-navigation .menu .menu-item.current-menu-item a, .main-navigation .menu .menu-item:hover a {
          background-color: rgb(180, 153, 102);
          border-color: rgb(180, 153, 102);
          /* color: rgb(186, 167, 125); */
          color: white;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; 
}

.mobile-navigation {
    padding: 30px 0 0;
    clear: both;
    display: none; }
    @media screen and (min-width: 991px) {
      .mobile-navigation {
        display: none !important; } }
    .mobile-navigation .menu {
      background: #262936;
      list-style: none;
      text-align: center;
      border-radius: 10px;
      overflow: hidden; }
      .mobile-navigation .menu a {
        padding: 20px;
        display: block;
        color: white; }
      .mobile-navigation .menu .menu-item a {
        padding: 5px 25px;
        border: 2px solid;
        border-radius: 30px;
        color: rgb(180, 153, 102);
        -webkit-transition: .3s ease;
                transition: .3s ease;
        font-weight: 400; }
        .mobile-navigation .menu .menu-item:last-child {
          border-bottom: none; }
        .mobile-navigation .menu .menu-item.current-menu-item a {
          color: #009ad8; 
}

